/* Container that fills the screen */
.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/7088483/pexels-photo-7088483.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .auth-inner {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  
  .auth-inner h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
    font-weight: 700;
  }
  
  /* Custom link for toggling forms */
  .toggle-link {
    color: #0d6efd;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .toggle-link:hover {
    color: #0a58ca;
  }
  
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  
  .forgot-password a {
    color: #167bff;
  }
  

  .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  
  label {
      font-weight: 500;
      margin-bottom: 5px;
      font-size: 14px;
  }
  

  